<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/c_estilo.css">
</head>
<body>
    <div id="contenedor-contactos" class="section-container">
        <div class="section">
            <div class="icon">🏃‍♂</div>
            <h3>ACERCA DEL CLUB</h3>
            <p>Guía para correr<br>Entrenamientos</p>
        </div>
        <div class="section">
            <div class="icon">📞</div>
            <h3>TELÉFONO (FIJO)</h3>
            <p>+912 3 567 8987<br>+912 5 252 3336</p>
        </div>
        <div class="section">
            <div class="icon">📍</div>
            <h3>UBICACIÓN DE NUESTRA OFICINA</h3>
            <p>The Interior Design Studio Company<br>The Courtyard, Al Quoz 1, Colorado, EE. UU.</p>
        </div>
    </div>
</div>
</body>
</html>