<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InicioSesion</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/ico.png">
</head>
<body>
    <div class="Login">
        <img src="../static/images/Usuario.png" alt="usuario">
        <h2>REGISTRO</h2>
        <form action="/" method="post">
            <h3>Usuario</h3>
            <input class="usuario" type="text" name="Usuario" placeholder="Ingresa Usuario" required>
            <h3>Contraseña</h3>
            <input class="contra" type="password" name="Contraseña" placeholder="Ingresa Contraseña" required>
            <button type="submit">ENTRAR</button>
        </form>
    </div>
</body>
</html>
